body, html{
    text-align:center;
    font-family:sans-serif serif;
    height:auto;
    margin:0;
    padding:0;
}

main{
    margin-top:120px;
    padding:0px;
    width:inherit;
}

#header{
    width:100%;
    top:0;
    left:0;
    position:fixed;
    height:auto;
    border-bottom: 2px grey solid;
    display:flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    font-size:18px;
    background-color:white;
    z-index:10;
    
}

#header-img{
    width:80px; 
}

img{
    
}

#nav-bar ul li{
    list-style-type:none;
}

#nav-bar ul li a{
    text-decoration:none;
    color:black;
    padding:12px;
    font-weight: bold;
}


#nav-bar{
    display:block;
    width:100%;
}

iframe{
    width:80vw;
    height:45vh;
}

#how-it-works{
    margin:0 auto;
    width:95%;
    margin-top:30px;
}



.column-container{
    display:flex;
    flex-direction:row;
    width:100%;
    max-width:100%;
}

#features{
    display:flex;
    flex-direction: column;
}

.two-column-container{
    width:100%;
    margin:0px;
    display:flex;
    flex-direction: row;
}

.left-column{
    width:50%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    background-color:black;
    color:white;
}

.left-column h3, .alt-right-column h3{
    margin:0px 0px 6px;
}

.left-column p{
    margin:0px 50px;
    
}

.right-column{
    width:50%;
    display:inline-block;
}

.alt-left-column{
    width:50%;
    display:inline-block;
}

.alt-right-column{
    width:50%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    background-color:black;
    color:white;
}

.alt-right-column p{
    margin:0px 50px;
    
}


.columns{
    padding:10px 10px 30px;
    margin:0px 10px 0px;
    width:33.333333%;
    display:flex;
    flex-direction:column;
    background-color:#f2f2f2;
    border-radius:12px;
    position:relative;
}

.columns img{
    width:100%;
    max-width:100%;
    height:auto;
    border-radius:6px;
}

figcaption{
    font-size:14px;
    margin-top:8px;
}

.info-link{
    display:block;
    margin:20px auto;
    padding:5px;
    width:30%;
    text-decoration:none;
    color:Black;
    background-color:lightskyblue; 
    border-radius:10px;
    opacity: 0.6;
    position:absolute;
    bottom:-10px;
    right:0;
    left:0;
}

.info-link:hover{
    color:white;
    opacity:1;
}

section{
    margin-top:40px;
}

.separator-top{
    display:block;
    width:30%;
    margin:0 auto;
    height:2px;
    background-color: lightgrey; 
}

.separator-bottom{
    display:block;
    width:30%;
    margin:0 auto;
    margin-bottom:30px;
    height:2px;
    background-color: lightgrey;
    
}

h2{
margin:8px 0px;    
}

#nav-bar ul li a:hover{
    color:white;
    background-color:lightskyblue;
    padding:12px;
    border-radius:4px;
}

#nav-bar ul{
    display:flex;
    flex-direction:row;
    padding:0px;
    margin:0px;
    justify-content:space-around;
}

#imgpic{
    width: inherit;
    height:500px;
    background-image: url(https://static1.squarespace.com/static/545be5c4e4b0b773c733ca03/t/55428b34e4b0e01e27cafd99/1429916344829/Elia-Locardi-Travel-Photography-Rising-Tide-New-Zealand-1600-WM-DM.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    
    
}

@media only screen and (max-width:820px){
    #nav-bar ul li a{
    text-decoration:none;
    color:black;
    padding:12px;
    font-size:14px;
    font-weight:bold;
    }
    .column-container{
    display:flex;
    flex-direction:column !important;
    width:100%;
    max-width:100%;
    }
        
    .columns{
    padding:10px 10px 60px;
    margin:8px auto;
    width:85%;
    display:flex;
    flex-direction:column;
    background-color:#f2f2f2;
    border-radius:12px;
    }
    .columns img{
        height:100%;
    }
}


@media only screen and (max-width:665px){
    main{
        margin-top:190px;
    }
    #header{
        display:flex;
        flex-direction:column;
        width:100%;
        top:0;
        position:fixed;
        height:auto;
        border-bottom: 2px lightgrey solid;
        align-content: left;
        align-items: left;
        font-size:18px;
        background-color:white;
        margin:0px;
        padding:5px 0px;
        
    }
    #header-img{
        position:absolute;
        left:0;
        top:0;
        width:50px; 
    }
    
    #nav-bar ul{
    display:flex;
    flex-direction:column !important;
    padding:0px;
    margin:0px;
    justify-content:center;
    }
    
    #nav-bar ul li{
        display:flex;
        flex-direction:row;
        justify-content:center;
        width:35%;
        margin:0 auto;
    }
    
    #nav-bar ul li a{
        width:auto;
        padding:3px 0px;
    }
    
    #nav-bar ul li a:hover{
    color:white;
    background-color:lightskyblue;
    padding:3px 0px;
    width:100%;
    border-radius:4px;
    }
 
}