body{
    text-align:center;
    font-family:sans-serif serif;
}
main{
    margin:auto;
    padding:auto;
}
#header{
    width:100%;
    top:0;
    height:100px;
    border-bottom: 2px grey solid;
    display:flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    
}
#nav-bar ul li{
    list-style-type:none;
}
#nav-bar ul li a{
    text-decoration:none;
    color:black;
    
}
#nav-bar ul{
    display:flex;
    flex-direction:row;
    padding:0px;
    margin:0px;
    justify-content:space-around;
}
#nav-bar{
    display:block;
    width:100%;
}
iframe{
    width:80vw;
    height:45vh
}